@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import "tailwindcss";
/* ✅ Make Quill editor fill container */
.ql-container {
  height: 100% !important;
}

/* ✅ Only the writing area scrolls */
.ql-editor {
  height: 100% !important;
  overflow-y: auto !important;
}
